<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>Template | Thymeleaf EE</title>
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"
        href="/webjars/material-design-icons/3.0.1/material-icons.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/materializecss/1.0.0-rc.2/css/materialize.min.css}"
        href="/webjars/materializecss/1.0.0-rc.2/css/materialize.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/styles.css}" />
  <!-- custom styles will be added here...-->
  <!--/*@thymesVar id="view" type="java.lang.String"*/-->
  <th:block th:include="${view} :: header" />
</head>
<body>

<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<div th:text="${message}">Here should be some basic message...</div>
<!--/*@thymesVar id="data" type="java.util.ArrayList"*/-->
<ul th:each="item : ${data}">
  <li th:text="${item}"></li>
</ul>

<!-- custom view specific stuff: -->
<!-- custom scripts will be added here...-->
<th:block th:include="${view} :: footer" />
<!--/*@thymesVar id="view" type="java.lang.String"*/-->
<div th:replace="${view} :: content"></div>

<script th:src="@{/webjars/materializecss/1.0.0-rc.2/js/materialize.min.js}"
        src="/webjars/materializecss/1.0.0-rc.2/js/materialize.js"></script>
<script th:src="@{/assets/scripts.js}"></script>
<script>M.AutoInit(document.body);</script>
</body>
</html>
